--markup markdown
--load ../poetry-core/yard/poetry_yard.rb
--no-private
--hide-api private
--readme README.md
--exclude (^|/)preview\.rb$
--exclude dialog_preview\.rb$
--exclude lib/generators/poetry/pagination/templates/
--exclude lib/generators/poetry/recipes/
lib/**/*.rb
app/**/*.rb
-
CHANGELOG.md
THIRD_PARTY_NOTICES.md
LICENSE.txt
